{% extends 'base.html.twig' %}

{% block body %}
    {% if articles is defined and articles|length %}
        {% for article in articles %}
            <article>
                <h2>{{ article.title }}</h2>

                {{ article.content|raw }}

                <h4>{{ article.state }}</h4>

                <a href="{{ path('article_edit', {'id': article.id}) }}">Modifier</a>
            </article>
        {% endfor %}
    {% else %}
        Mince pas d'articles
    {% endif %}
{% endblock %}